@charset "utf-8";
/* CSS Document */

body {
font-family:"微软雅黑",Helvetica, sans-serif;
font-size:12px;
color:#000;
text-align:center;
}
* {
margin:0;
padding:0;
}
a {
font-family:"微软雅黑",Helvetica, sans-serif;
color:#1E7ACE;
text-decoration:none;
}

input,select{vertical-align:middle;} 

#all{

	z-index:0;
	left:0px;
	top:0%;
	
	}
.headpic{
	margin-top:50px;
	text-align:center;
	
}

.main{
	margin:0 auto;
	width:950px;}
	
#personal{
	width:100%;
	positon:fixed;
	top:0;
	height:40px;
	padding:0px;
	filter:alpha(opacity=70);
	-moz-opacity:0.7;
	opacity:0.7;
	background: #000;
	position:absolute;
}


#personal ul{text-align:right;
	padding:10px;
	margin-bottom:5px;
	z-index:0;
	}

#personal ul li{	text-align:right;
	padding:3px;

	color:#FFF;
	width:50px;
	display:inline;
	font-size:15px;
	filter:alpha(opacity=100);
	-moz-opacity:1;
	opacity:1;
}

.leftcom{
	float:left;
	margin-top:0px;

}

.navigator{

	font-family:"微软雅黑";
	font-size:20px;
	color:#FFF;
	margin-top:40px;
	width:200px;
	height:500px;
	text-align:left;
	background-color:#06C;
	padding-top:20px;
	border-radius:15px;
}

.navilist{
	margin-top:20px;
	list-style-type:disc;	
	margin-left:45px;
}
.navitext{
	font-size:22px;
	font-weight:100px;
	margin-left:15px;
}

.notice{
	margin-top:50px;
	width:200px;
	height:200px;
	border:solid;
	border-color:#06C;
	border-width:2px;

}

.maincontext{
	margin-top:50px;
	width:650px;
	position:absolute;
	margin-left:250px;
	z-index:0;
}
	

.top5{
	height:250px;
	border:solid;
	border-color:#06C;
	border-width:2px;
}
.new{
	margin-top:50px;
	height:1200px;
	border:solid;
	border-color:#06F;
	border-width:2px;
	
}

.newtable{
	text-align:center;
	width:600px;
	margin-left:10px;
	margin-top:10px;
	
	
	}
.newtabletd{
	text-align:left;
	width:150px;
	font-family:"微软雅黑";
	vertical-align:bottom;
	font-size:16px;
	color:#000;
	}

.newtabletitle{
	text-align:left;
	vertical-align:bottom;
	width:140px;
	font-family:"微软雅黑";
	font-size:20px;
	color:#000;
	font-weight:bold;
	}
	
.time{ text-align:left;
	vertical-align:bottom;
	width:140px;
	font-family:"微软雅黑";
	font-size:14px;
	color:#666;}
	


.slidebarnotice{width:200px;
		  height:50px;
		  background-color:#06C;
		  margin-top:0px;
}






.slidebar{
		  height:50px;
		  background-color:#06C;
		  margin-top:0px;
}

.slidebartext{
	font-family:"微软雅黑";
	font-size:24px;
	font-weight:100px;
	margin-top:0px;
	margin-left:10px;
	color:#FFF;
	text-align:left;
	padding-top:5px;

}

#addnewbutton{
	margin-top:6px;
	margin-right:10px;
	float:right;
	width:150px;
	height:30px;
	background-color:#06F;
	border:solid;
	border-width:2px;
	text-align:center;
	font-family:"微软雅黑";
	font-size:22px;
	border-radius:10px;
	color:#FFF;
	vertical-align:central;
	}
#addnewbutton:hover{
	background-color:#09F;
	cursor:pointer;}
	
#addnew{
	width:550px;
	background-color:#FFF;
	position:absolute;
	left:50%;
	margin-left:-300px;
	z-index:2;
	border:solid;
	border-color:#06F;
	display:none;
	padding-bottom:50px;

	}
	
#addnewhead:hover{cursor:move}
#detailshead:hover{cursor:move}
#participatehead:hover{cursor:move}

#details{
	width:650px;
	background-color:#FFF;
	position:absolute;
	left:50%;
	margin-left:-300px;
	z-index:2;
	border:solid;
	border-color:#06F;
	display:none;
	}
#showdetails{
	color:#00F;
	text-decoration:underline;
}
#showdetails:hover{
	cursor:pointer;}
#participate{
	width:500px;
	background-color:#FFF;
	position:absolute;
	left:50%;
	margin-left:-250px;
	z-index:3;
	border:solid;
	border-color:#06F;
	display:none;
	}
	
	
.detailstable{
	margin-left:30px;
	margin-top:30px;
	width:600px;
	padding-bottom:50px;}
#participateform{
	margin-left:30px;
	margin-top:30px;
	width:600px;
	padding-bottom:50px;
	}
	
	
#participateform_input{
		text-align:left;
		
}
	
#participateform_label{
	text-align:right;
	float:left;
}
	
#participateform_label div{font-family:"微软雅黑";
	font-size:16px;
	text-align:right;
	width:150px;
	padding-top:10px;
	
	}
#participateform_input div{
	
		padding-top:10px;
		font-size:16px;
		text-align:left;
	
}
	
	
	
#addnewform{
	margin-left:30px;
	margin-top:30px;
	width:600px;
	}
	
#addnewform_label{
	text-align:right;
	float:left;
}

#addnewform_input{
		text-align:left;
		
}
	
	
#addnewform_label div{font-family:"微软雅黑";
	font-size:16px;
	text-align:right;
	width:130px;
	padding-top:10px;
	height:20px;
	
	}
#addnewform_input div{
		font-size:16px;
		padding-top:10px;
		height:20px;

	
}

#addnewform_input div select{
	height:20px;
	border:none;
	font-size:14px;
	font-family:"微软雅黑";
	border:solid;
	border-color:#06F;
	border-width:1px;
	margin-top:0px;

}
#addnewform_input div select:hover{border-color:#C03;}


.newbutton{
	margin-top:20px;
}


.detailstabletd{
	text-align:left;
	width:150px;
	font-family:"微软雅黑";
	vertical-align:top;
	font-size:16px;
	color:#000;

	}
.head{
	height:60px;
	background:#06C;
	}
.headtext{
	
	font-family:"微软雅黑";
	color:#FFF;
	font-size:28px;
	padding-left:30px;
	margin-top:0px;
	padding-top:10px;
	float:left;}
	

.addnewtable{
	margin-left:10px;
	margin-top:30px;
	padding-bottom:50px;}
.tabletext{font-family:"微软雅黑";
	font-size:19px;
	text-align:right;
	width:200px;
	}
.tableinput{
	border:solid;
	height:20px;
	border-color:#06F;
	border-width:1px;
	padding-left:3px;
	font-size:14px;
	font-family:"微软雅黑";

	}
.tableinput:hover{ border-color:#C03;}
	
.closebutton{position:absolute;
	top:10px;
	right:10px;}
.closebutton:hover{background-color:#09F;
	cursor:pointer;
}

.buttonblue{
	width:150px;
	height:30px;
	background-color:#06F;
	border:none;
	font-family:"微软雅黑";
	font-size:20px;
	text-align:center;
	border-radius:10px;
	color:#FFF;
	vertical-align:central;}
.buttonblue:hover{background-color:#09F;
cursor:pointer;}

.buttonred{
	width:150px;
	height:30px;
	background-color:#900;
	border:none;
	text-align:center;
	font-family:"微软雅黑";
	font-size:20px;
	border-radius:10px;
	color:#FFF;
	vertical-align:central;}
.buttonred:hover{background-color:#C00;
cursor:pointer;}

textarea{	border:solid;
	font-size:14px;
	font-family:"微软雅黑";
	border-width:1px;
	border-color:#06F;
	margin-top:20px;}
	textarea:hover{border-color:#C03;}
#mask{
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	opacity:0.5;
	background: #000;
	position:absolute;
	z-index:1;
	margin:0 auto;
	display:none;
	width:100%;
	height:100%;
	bottom:0px;
	top:0px;
	}